music_directory       "{{ music_directory }}"
playlist_directory    "/home/{{ mpd_user }}/mpd/playlists"
db_file	              "/home/{{ mpd_user }}/mpd/tag_cache"
log_file              "/home/{{ mpd_user }}/mpd/mpd.log"
pid_file              "/home/{{ mpd_user }}/mpd/pid"
state_file            "/home/{{ mpd_user }}/mpd/state"
sticker_file          "/home/{{ mpd_user }}/mpd/sticker.sql"
user                  "{{ mpd_user }}"
bind_to_address       "localhost"

input {
  plugin "curl"
}

audio_output {
  type            "alsa"
  name            "My ALSA Device"
  device          "hw:0,0"	# optional
  format		       "44100:16:2"	# optional
  mixer_device	   "default"	# optional
  mixer_control	 "PCM"		# optional
  mixer_index	   "0"		# optional
}

audio_output {
  type        "httpd"
  name        "HTTPStream"
  encoder     "lame"		# optional, vorbis or lame
  port        "{{ streaming_port }}"
#  quality    "5.0"			# do not define if bitrate is defined
  bitrate     "128"			# do not define if quality is defined
  format      "44100:16:1"
  always_on   "yes"
  tags        "yes"
}

filesystem_charset    "UTF-8"
id3v1_encoding        "UTF-8"
